/*common sheared style*/
body {
    font-family: 'Open Sans', sans-serif;
}

.tex-primary {
    color: #FD6E0A;
}

.button-primary {
    border-radius: 5px;
    background-color: #FD6E0A;
    font-weight: 700px;
    font-size: 20px;
    color: white;
    border: 0;
    padding: 15px 35px;
    cursor: pointer;
}

/*nav related styles*/
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav-title {
    color: black;
    font-size: 45px;
    font-weight: 800px;
}

nav>ul {
    display: flex;
    align-items: center;
}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #424242;
}

/*header related styles */
.header {
    background-color: #FFF8F3;
    background-image: url('');
}

.bennar {
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}

.profile-pic {
    width: 500px;
}